[submodule "BDD_CONNECT"]
	path = BDD_CONNECT
	url = https://github.com/LeonardoDaFonsecaEsteves/BDD_CONNECT.git
[submodule "SERVER_API"]
	path = SERVER_API
	url = https://github.com/LeonardoDaFonsecaEsteves/SERVER_API.git
